APP_ENV=development
DEBUG=true
JWT_SECRET_KEY=AIPAS_BACKEND_SECRET_KEY_JWT_123!
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/aipas
CORS_ORIGINS=["*"]
